*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    max-height: 150px;
    max-width: 150px;
}
#wrapper{
    display:flex;
    flex-direction: column;
    align-content:center;
    min-height: 100%;
    min-width: 100%;
    background-color: burlywood;
}
#player-score, #computer-score {
    font-size: 50px;
}

body{
    min-height: 100%;
    min-width: 100%;
}
.page-header {
    display:flex;
    flex-direction: column;
    background-color: darkslategray;
    min-height: 100%;
    align-items: center;
    justify-content:center;
    
}
.scoreboard{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.scores{
    display:flex;
    flex-direction:column;
    font-weight: bolder;
    align-items: center;
    padding: 10px;
    background-color: burlywood;
}
.game-space{
    display:flex;
    justify-content: space-evenly;
    background-color: cadetblue;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom:20px;
    
}

button{
    min-height: 200px;
    min-width:200px;
    transition:0.3s;
    border-radius: 30px;
    border-style: solid;
    background-color: aquamarine;
    
}

.hovering {
    border-width: 20px ;
    border-color:burlywood;
    background-color: cadetblue;
    border-radius:30px;
    transition: 0.3s;
    
}
#winner-message{
    align-self: center;
    margin: 50px;
    font-weight: 700;
    flex:1;
}
h2{
    margin-top: 0px;
}

footer{
    
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    font-weight: bolder;
    color:aliceblue;
   height:100px;
   flex-shrink:0;
}